[submodule "swapi-gql-rest"]
	path = swapi-gql-rest
	url = https://github.com/NikolaRusakov/swapi-gql-rest.git
[submodule "swapi-graphql"]
	path = swapi-graphql
	url = https://github.com/NikolaRusakov/swapi-graphql.git
