<ng-container *ngIf="(details| async) else showSpinner">

  <ng-container *ngFor="let detail of (details| async) ">
    <!--{{detail | json}}-->
    <app-detail-panel [title]="detail.name">
      <button *ngIf="detail.id" mat-icon-button (click)="openDetails(detail.id)">
        <mat-icon>info</mat-icon>
      </button>
      <p>Height: {{detail.height}}</p>
      <p>Mass: {{detail.mass}} kg</p>
      <p>Eye color: {{detail.eyeColor}}</p>
      <p>Gender: {{detail.gender}}</p>
      <p>Home world: {{detail.skinColor}}</p>
      <p>Home world: {{detail.birthYear}}</p>
      <p>Hair color: {{detail.hairColor}}</p>

      <!--{{detail.filmConnection.films | json}}-->
      <app-detail-panel *ngFor="let film of detail.filmConnection.films" [title]="film.title">
        <p>Producer: {{film.producer}}</p>
        <p>Director: {{film.director}}</p>
        <p>episode ID: {{film.episodeId}}</p>
        <br>
        <h1>Crawler</h1>
        <p>{{film.openingCrawl}}</p>
      </app-detail-panel>
    </app-detail-panel>
  </ng-container>
</ng-container>

<ng-template #showSpinner>
  <div class="center-spinner">
  <mat-spinner>
  </mat-spinner>
  </div>
</ng-template>
